In [13]:
import json
import geopandas as gpd
from bokeh.io import show
from bokeh.models import GeoJSONDataSource,HoverTool,ColumnDataSource
from bokeh.plotting import figure, from_networkx
import pandas as pd
import numpy as np
from bokeh.palettes import OrRd9
from bokeh.transform import linear_cmap
from sqlalchemy import create_engine
# with open('./data/nine.geojson','r',encoding='utf8') as fp:
#     data = json.load(fp)

In [15]:
for i in range(len(data['features'])):
    data['features'][i]['properties']['Color'] = ['blue', 'red'][i%2]

In [3]:
# 先上传到数据库中
connect = create_engine(
    f'postgresql://postgres:774165@127.0.0.1:5432/first')
city2id = np.load('./data/city2id.npy',allow_pickle=True).item()
id2city = np.load('./data/id2city.npy',allow_pickle=True).item()

In [8]:
pd.DataFrame({'city':city2id.keys(),'id':city2id.values()})

      city   id
0      北京市    0
1      天津市    1
2     石家庄市    2
3      唐山市    3
4     秦皇岛市    4
..     ...  ...
357   石河子市  357
358   阿拉尔市  358
359  图木舒克市  359
360   五家渠市  360
361   铁门关市  361

[362 rows x 2 columns]

In [14]:
nine_line = gpd.read_file('./data/nineLines_3857.shp')
province = gpd.read_file('./data/china_provinces_3857.shp')
citys = gpd.read_file('./data/citys_coordiante_3857.shp')

In [10]:
citys.head()

   index  name                          geometry
0      0   北京市  POINT (12957716.161 4851823.945)
1      1   天津市  POINT (13046111.315 4733755.793)
2      2  石家庄市  POINT (12747083.889 4585274.225)
3      3   唐山市  POINT (13155055.125 4812228.899)
4      4  秦皇岛市  POINT (13304265.231 4849537.015)

In [163]:
# 先上传到数据库中
connect = create_engine(
    f'postgresql://postgres:774165@127.0.0.1:5432/first')
nine_line.to_postgis(name='nine_line_3857',con=connect, if_exists='replace')
province.to_postgis(name='province_3857',con=connect, if_exists='replace')
citys.to_postgis(name='citys_3857', con=connect, if_exists='replace')

In [164]:
nine_line = gpd.read_postgis('select * from nine_line_3857',con=connect,geom_col='geometry')
province = gpd.read_postgis('select * from province_3857',con=connect, geom_col='geometry')
citys = gpd.read_postgis('select * from citys_3857', con=connect, geom_col='geometry')

In [15]:
coordinate = citys['geometry'].apply(lambda r: (r.x,r.y))
points = list(coordinate)

In [16]:
edges = []
edge_list = pd.read_csv('./data/edge_list.csv')
for i in range(362):
    for j in range(361):
        k = j+1 if i==j else j
        edges.append((i,k,edge_list['2'][i*361+j]))

In [12]:
edge_list

           0      1          2
0        北京市    天津市  27.546216
1        北京市   石家庄市   5.603671
2        北京市    唐山市   7.122437
3        北京市   秦皇岛市   2.444086
4        北京市    邯郸市   8.645662
...      ...    ...        ...
130677  铁门关市  阿勒泰地区   0.000298
130678  铁门关市   石河子市   0.002269
130679  铁门关市   阿拉尔市   0.002504
130680  铁门关市  图木舒克市   0.001095
130681  铁门关市   五家渠市   0.001411

[130682 rows x 3 columns]

In [97]:
pd.DataFrame(edges)

          0    1          2
0         0    1  27.546216
1         0    1   5.603671
2         0    2   7.122437
3         0    3   2.444086
4         0    4   8.645662
...     ...  ...        ...
130677  361  356   0.000298
130678  361  357   0.002269
130679  361  358   0.002504
130680  361  359   0.001095
130681  361  360   0.001411

[130682 rows x 3 columns]

In [17]:
# 构造画线的数据
# x, y, namex, namey, flow
xs = []
ys = []
flows = []
ori_name = []
des_name = []

for i in range(len(edge_list)):
    # if edges[i][2]<3:
    #     continue
    xs_i = [0]*2
    ys_i = [0]*2
    xs_i[0] = points[edges[i][0]][0]
    xs_i[1] = points[edges[i][1]][0]
    ys_i[0] = points[edges[i][0]][1]
    ys_i[1] = points[edges[i][1]][1]
    xs.append(xs_i.copy())
    ys.append(ys_i.copy())
    flows.append(edges[i][2])
    ori_name.append(edge_list['0'][i])
    des_name.append(edge_list['1'][i])

In [129]:
np.quantile(flows,0.999,interpolation='lower')

26.0402007492

In [18]:
# 色带还需要换一下
mapper = linear_cmap(field_name="flow", palette=OrRd9, low=min(flows), high=max(flows))
alpha = flows/np.quantile(flows,0.999,interpolation='lower')
alpha = [a if a<=1 else 1 for a in alpha]
width = np.array(alpha) * 2
multi_line_source = ColumnDataSource({
    'xs': xs,
    'ys': ys,
    'flow': flows,
    'alpha': alpha,
    'width': width
})



geosource_nineline = GeoJSONDataSource(geojson = nine_line.to_json())
geosource_province = GeoJSONDataSource(geojson = province.to_json())
geosource_citys = GeoJSONDataSource(geojson = citys.to_json())

加上一个控制条，把flow在某个范围的OD展示出来，还有地名筛选，提示工具栏

In [22]:
p = figure(background_fill_color="lightgrey")
# Add patch renderer to figure.
p.patches('xs','ys', source = geosource_nineline,
                fill_color = None,
                line_color = 'gray', 
                line_width = 5, 
                fill_alpha = 1)
province_renderer = p.patches('xs','ys', source = geosource_province,
                fill_color = None,
                line_color = 'grey', 
                line_width = 1, 
                fill_alpha = 1)
citys_renderer = p.circle(x='x', y='y', size=3, color='#46A3FF', alpha=0.7, source=geosource_citys)
lines = p.multi_line('xs', 'ys', source=multi_line_source,line_alpha='alpha',line_color=mapper,line_width='width')
p.add_tools(HoverTool(renderers = [citys_renderer],
                      tooltips = [('name','@name'),
                                ]))

p.renderers.pop(3)
show(p)